
/*code
{
    /*background-color: lightgray;
    
}*/

code {
    display:block;
    background-color:rgb(247, 245, 245);
    padding:15px;
    margin-left:10px;
    margin-right:230px;
    border-radius:5px;
    white-space: pre;
    line-height: 0.5;
    text-align: left;
   }

.main-section
{
    font-size: 120%;
    font-family: Lucida Sans Regular;
}
header
{
   font-family: Lucida Sans; 
   font-size: 200%;

}

#navbar
{
    font-family: Lucida Sans; 
    text-decoration: none;
    font-size: 125%;
    height: 100%; 
    width: 25%; 
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;  
    left: 0;
    background-color: lightgray; 
    overflow-x: hidden;
}
#navbar header
{
    font-family: sans-serif;
}
#navbar li 
{
    text-decoration: none;
}
#main-doc
{
    margin-left: 25%;
   
}